li {
    display: inline;
    padding: 20px;
    font: size 20px;
}
nav {
    text-align: center;
  font-size: 40px;
}
a:hover {
    color: cyan
}
body {
    background-color: dimgrey;
    background-size: cover;
}
.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    font-family: Verdana, Geneva, Tahoma;
    font-size: 50px;
    color: whitesmoke;
}
#image1 {
    border-radius: 3rem
}