li {
    display: inline;
    padding: 20px;
    font: size 20px;
}
nav {
    text-align: center;
  font-size: 40px;
}
a:hover {
    color: cyan
}
body {
    background-color: dimgrey;
    background-size: cover;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}