html{
    scroll-behavior: smooth;
}
li {
    display: inline;
    padding: 20px;
    font: size 20px;
}
nav {
    text-align: center;
    font-size: 20px;
    /* color: white; */
}
.bar{
    position: sticky;
    top: 0; 
}
a{
    color: #ff802b;
}
/* ul li {
    color: white;
} */
a:hover {
    color: cyan
}
body {
    background-image: url(https://cdn.pixabay.com/photo/2017/08/24/03/41/milky-way-2675323_960_720.jpg);
    background-size: cover;
    color: aliceblue;
}
.centered {
    float: right;
    left: 50%;
    transform: translate(-20px, 30px);
    font-family: Verdana, Geneva, Tahoma;
    font-size: 70px;
    color: whitesmoke;
}
#image1 {
    border-radius: 3rem
}
.find{
    text-align: left;
    color: white;
}
.centered p, p1 {
    font-family: 'Great Vibes', cursive;
    padding-top: 100px;
    /* padding-right: 50px; */
    /* position: relative; */;
}
#projects{
    height: 500px;
    background-color: #66000000;
}
#projects > li > a{
    font-size: 25px;
}
#aboutme{
    height: 500px;
    background-color: #66000000;
}
#photos{
    height: 500px;
    background-color:#66000000;
}